<form action="/submit" method="post">
    <input type="number" name='t1'>
    <input type="number" name='t2'>
    <input type="number" name='t3'>
    <input type="number" name='t4'>
    <input type="submit">
</form>